<head>
    <link rel="stylesheet" href="~/css/AnaSayfa.css" />
</head>


<div class="resim-kutu">
    <img src="~/images/1.jpg" />
    <a class="yazi" asp-controller="Home" asp-action="Yonlendir">DETAY</a>
</div>

