<h2>Admin Paneli</h2>

<ul>
    <li><a asp-action="Musteriler">Müşteriler</a></li>
    <li><a asp-action="Trainerlar">Antrenörler</a></li>
    <li><a asp-action="Randevular">Aktif Randevular</a></li>
</ul>
